{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block title %}日報内容{% endblock title %}

{% block content %}

    {# 挨拶 #}
    <p>こんにちは！{{uname}}さん</p>

    {# 新規作成ボタン #}
    <a class="btn btn-primary btn-lg" href="{% url 'nippou_app:new' %}"><i class="fa fa-pencil-square fa-lg"></i> 日報新規作成</a>

    <p>&nbsp;</p>

    {# 日報のリスト #}
    <div class="row">
      <div class="col-md-5">
        <div class="scr_l">
          <div class="service">
              <div class="desc"><h2><i class="fa fa-th-list"></i>&nbsp;みんなの日報一覧</h2>
              <a href="{% url 'nippou_app:search' %}">他の日報を探す</a></div>
              <div class=" clear"></div>
              <p>&nbsp;</p>
                {% for nippou in nippous %}
                    <h4><i class="fa fa-user"></i> {{ nippou.user.last_name }}{{ nippou.user.first_name }}&nbsp;
                        ({{nippou.user.user_dev}})&nbsp;&nbsp; {{ nippou.date }}&nbsp;&nbsp;
                    </h4>
                    <h4>タイトル：&nbsp;<a href="{% url 'nippou_app:detail' id=nippou.id %}">{{ nippou.title }}</a></h4>
                    <p>&nbsp;</p>
                {% endfor %}
          </div>
       </div>
      </div>

      <div class="col-md-7">
        <div class="scr_r">
            <div class="service">
              <div class="desc"><h2><i class="fa fa-file-text-o"></i>&nbsp;最近の投稿</h2></div>
              <div class=" clear"></div>
                <p>&nbsp;</p>
                {% for nippou in nippous %}
                <div class="panel panel-default">
                  <!-- Default panel contents -->
                  <div class="panel-heading">
                      <h4>{{ nippou.user.last_name }}{{ nippou.user.first_name }}&nbsp;({{nippou.user.user_dev}})&nbsp;&nbsp;
                          {{ nippou.date }}
                      </h4>
                  </div>
                  <!-- List group -->
                  <ul class="list-group">
                    <li class="list-group-item"><h4>タイトル：{{ nippou.title }}</h4></li>
                    <li class="list-group-item"><h4>本文：<p>&nbsp;</p>{{ nippou.text|linebreaksbr }}</h4></li>
                  </ul>
                </div>
                {% endfor %}


            </div>
        </div>
      </div>
    </div>

{% endblock content %}