{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block title %}日報詳細{% endblock title %}

{% block content %}

    {# ここでスタイルを書いて良いのか？ #}
    <STYLE type="text/css">
        .scr_l {
          overflow: scroll;
          width: 550px;
          height: 600px;
          background-color: white;
        }
        .scr_r {
          overflow: scroll;
          width: 550px;
          height: 600px;
          background-color: white;
        }
    </STYLE>

    {# 内容表示 #}
    <div class="row">
      <div class="col-md-6">
        <div class="scr_l">
          <h2>日報詳細</h2>
            <div class="service">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h4>{{ nippou.user.last_name }}{{ nippou.user.first_name }}&nbsp;({{nippou.user.user_dev}})&nbsp;&nbsp;
                        {{ nippou.date }}
                    </h4>
                </div>
                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item"><h4>タイトル：{{ nippou.title }}</h4></li>
                    <li class="list-group-item"><h4>本文：<p>&nbsp;</p>{{ nippou.text|linebreaksbr }}</h4></li>
                </ul>
            </div>
          </div>
       </div>
      </div>

        <div class="col-md-6">
        <div class="scr_r">
            <h2>タスク詳細</h2>
            <p>合計{{tasks|length}}タスク</p>
            <div class="service">
                {% for task in tasks %}
                    <div class="panel panel-default">
                      <!-- Default panel contents -->
                      <div class="panel-heading"><h4>タスク名：{{ task.task_name }}</h4></div>
                      <!-- List group -->
                      <ul class="list-group">
                        <li class="list-group-item"><h4>P: 計画</h4> <p>&nbsp;</p>{{ task.task_name }}</li>
                        <li class="list-group-item"><h4>Y: やったこと</h4> <p>&nbsp;</p>{{ task.task_y }}</li>
                        <li class="list-group-item"><h4>W: わかったこと</h4><p>&nbsp;</p>{{ task.task_w }}</li>
                        <li class="list-group-item"><h4>T: 次やること</h4><p>&nbsp;</p>{{ task.task_t }}</li>
                      </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
      </div>
    </div>

    <p>&nbsp;</p>

    {# 修正ボタン #}
    {% if hide_edit == 0 %}
        <a class="btn btn-primary" href="{% url 'nippou_app:edit' id=nippou.id %}" role="button">修正</a>&nbsp;&nbsp;
    {% endif %}

    {# 削除ボタン #}
    {% if hide_edit == 0 %}
        <a class="btn btn-danger" href="{% url 'nippou_app:delete' id=nippou.id %}" role="button">削除</a>
    {% endif %}

    <p>&nbsp;</p>

    {# 一覧に戻るボタン #}
    <a class="btn btn-default" href="{% url 'nippou_app:mypage' %}" role="button">戻る</a>

    <p>&nbsp;</p>

{% endblock content %}