{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block title %}日報詳細{% endblock title %}

{% block content %}

    {# 内容表示 #}
    <div class="row">
      <div class="col-md-6">
          <h2>日報詳細</h2>
            <div class="service">
                <p>&nbsp;</p>
                <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h4>{{ nippou.user.last_name }}{{ nippou.user.first_name }}&nbsp;({{nippou.user.user_dev}})&nbsp;&nbsp;
                        {{ nippou.date }}&nbsp;
                        {% if nippou.open %} 公開 {% else %}<font color="#DD0000">下書き</font>{% endif %}
                    </h4>
                </div>
                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item"><h4>タイトル：{{ nippou.title }}</h4></li>
                    <li class="list-group-item"><h4>本文：<p>&nbsp;</p>{{ nippou.text|linebreaksbr }}</h4></li>
                </ul>
            </div>
          </div>
      </div>
        {% if hide_edit == 0 %}
        <div class="col-md-6">
            <h2>タスク詳細</h2>
            <p>合計{{tasks|length}}タスク&nbsp;※タスクは自分以外非公開です</p>
            <div class="service">
                {% for task in tasks %}
                    <div class="panel panel-default">
                      <!-- Default panel contents -->
                      <div class="panel-heading"><h4>{{ task.task_name }}</h4></div>
                      <!-- List group -->
                      <ul class="list-group">
                        <li class="list-group-item"><h4>Y: やったこと<p>&nbsp;</p>{{ task.task_y }}</h4> </li>
                        <li class="list-group-item"><h4>W: わかったこと<p>&nbsp;</p>{{ task.task_w }}</h4></li>
                        <li class="list-group-item"><h4>T: 次やること<p>&nbsp;</p>{{ task.task_t }}</h4></li>
                      </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>

    <p>&nbsp;</p>

    {# 修正ボタン #}
    {% if hide_edit == 0 %}
        <a class="btn btn-primary" href="{% url 'nippou_app:edit' id=nippou.id %}" role="button">修正</a>&nbsp;&nbsp;
    {% endif %}

    {# 削除ボタン #}
    {% if hide_edit == 0 %}
        <a class="btn btn-danger" href="{% url 'nippou_app:delete' id=nippou.id %}" role="button">削除</a>
    {% endif %}

    <p>&nbsp;</p>

    {# 一覧に戻るボタン #}
    <a class="btn btn-default" href="{% url 'nippou_app:mypage' %}" role="button">戻る</a>

{% endblock content %}