{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block title %}日報検索{% endblock title %}

{% block content %}

    {#　検索　#}
    <p>キーワードに部分合致する日報タイトルを検索します</p>
    <form action="" method="post" class="form">
      {% csrf_token %}
      {{ form|as_bootstrap }}
      <p>&nbsp;</p>
      <input type="submit" value="検索" class="btn btn-primary">
    </form>

    <p>&nbsp;</p>

    {% if nippous %}
        <h3>検索結果</h3>
        {% for nippou in nippous %}
            <p><a href="{% url 'nippou_app:detail' id=nippou.id %}">{{ nippou.title }}</a></P>
        {% endfor %}
    {% endif %}

    <p>&nbsp;</p>

    {# 一覧に戻るボタン #}
    <a class="btn btn-default" href="{% url 'nippou_app:show' %}" role="button">戻る</a>

{% endblock content %}