{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block title %}詳細{% endblock title %}

{% block content %}

    {# 内容表示 #}
    <p>
    <h3>日付</h3>
    {{ nippou.date }}
    <h3>タイトル</h3>
    {{ nippou.title }}
    <h3>タスクリスト</h3>
    <p>計{{tasks|length}}タスク</p>
    {% for task in tasks %}
        <div class="row">
          <div class="col-sm-9">
            <h3>{{ task.task_name }}</h3>
            <div class="row">
              <div class="col-xs-8 col-sm-6">
                <h3>Y: やったこと</h3>
                {{ task.task_y }}
              </div>
              <div class="col-xs-4 col-sm-6">
                <h3>W: わかったこと</h3>
                {{ task.task_w }}
              </div>
            </div>
            <h3>T: 次やること</h3>
            {{ task.task_t }}
          </div>
        </div>
    {% endfor %}
    </p>




    {# 修正ボタン #}
    {% if hide_edit == 0 %}
        <a class="btn btn-primary" href="{% url 'nippou_app:edit' id=nippou.id %}" role="button">修正</a>
    {% endif %}

    {# 削除ボタン #}
    {% if hide_edit == 0 %}
        <a class="btn btn-danger" href="{% url 'nippou_app:delete' id=nippou.id %}" role="button">削除</a>
    {% endif %}

    {# 一覧に戻るボタン #}
    <a class="btn btn-default" href="{% url 'nippou_app:show' %}" role="button">戻る</a>

{% endblock content %}